.container{
    display: flex;
    justify-content: center;
}
/* .pin-wrapper{      
    column-count: 4;
    column-gap: 10px;
} */
.pin-wrapper{
    padding: 8px;
    width: 80%;    
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);        
    justify-content: center;
    gap: 10px;
}


@media (max-width: 760px){
    .pin-wrapper{
        width: 100%;
        padding: 2px;
        grid-template-columns: repeat(auto-fill, 150px);
    }
}