
.img-container{
    
    border-radius: 20px;
    /* -webkit-box-shadow: -1px 4px 4px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 4px 4px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 4px 4px rgb(228, 226, 226); */
    
}
.lg-img, .lg-img .overlay{
    width: 200px;
    height: 350px;
    grid-row-end: 350px;
}
.md-img, .md-img .overlay{
    width: 200px;
    height: 300px;
    grid-row-end: 300px;
}
.sm-img, .sm-img .overlay{
    width: 200px;
    height: 200px;
    grid-row-end: 200px;
}
.pin-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pin-content{
    width: 200px;
    padding: 8px;    
}
.pin-content p{
    overflow: hidden;   
}
.pin-content .user-pic{
    display: flex;
    align-items: center;
}
.pin-content .user-pic img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 5px;
    margin-top: 5px;
}
/* .pin-container .img-container:hover{
    cursor: pointer;
    transform: scale(1.1)
} */
.img-container:hover .overlay{
    opacity: .8;
}
.overlay{  
    background: rgba(0, 0, 0, 0.8);     
    padding: 12px;  
    opacity: 0; 
    transition: 0.5s ease;
    border-radius: 20px;
    position: relative;
}
.pin-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    height: 100%;
}
.pin-footer .pin-save{
    align-self:flex-end;
}
.pin-footer .pin-save button{
    padding: 10px;
    color: white;
    border-radius: 20px;
    font-size: 12.5pt;
    border: none;
    background: #D32F2F;
    cursor: pointer;
}
.pin-footer .pin-link{
    display: flex;
    align-items: center;
    background: whitesmoke;
    color: rgb(146, 143, 143);
    border-radius: 30px;
    padding: 5px;
    width: 90px;
    cursor: pointer;
}
.pin-link img{
    width: 15px;
    height: 15px;
    margin-right: 8px;
    position: relative
}
.pin-link small{
    position: relative;
    overflow: auto;
}


@media (max-width: 760px){
    .lg-img, .lg-img .overlay{
        width: 150px;
        height: 300px;
    }
    .md-img, .md-img .overlay{
        width: 150px;
        height: 250px;
    }
    .sm-img, .sm-img .overlay{
        width: 150px;
        height: 200px;
    }
    .pin-content{
        width: 150px;
    }
    
}